@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin pos($property) {
  top: $property;
  bottom: $property;
  left: $property;
  right: $property;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  @include flex();
  min-height: 100vh;
  background: #ebf5fc;
}
.container {
  @include flex();
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
}
.container .card {
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
              inset -5px -5px 5px rgba(255, 255, 255, 0.5),
              5px 5px 5px rgba(0, 0, 0, 0.05),
              -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.container .card .box {
  position: absolute;
  @include pos(20px);
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  @include flex();
  transition: 0.5s;
}
.container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #b95ce4, #4f29cd)
}
.content {
  padding: 20px;
  text-align: center;
}
.content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.02);
  transition: 0.5s;
  pointer-events: none;
}
.card:hover .box .content h2 {
  color: rgba(0, 0, 0, 0.05);
}
.content h3 {
  font-size: 1.8em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.content p {
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
  margin: 15px 0 25px 0;
}
.card:hover .box .content h3, .card:hover .box .content p {
  color: rgb(238, 238, 238);
}
.content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card:hover .content a {
  background: #ff568f;
}