* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
table {
  border-collapse: collapse;
  width: 30%;
}
ul {
  line-height: 40px;
}
td, th {
  text-align: left;
  border: 1px solid #ddd;
  padding: 14px 20px;
}
tr:nth-child(odd) {
  background: rgb(231, 231, 231);
}